nav {
  position: fixed;
  padding: 2rem;
  font-size: 1rem;
  font-family: "Barlow", sans-serif;
  h3 {
    letter-spacing: 2px;
    color: #a34a26db;

    font-weight: 800;
  }
}

.--nav {
  ul {
    display: flex;
    list-style: none;
    float: right;
    gap: 50px;
    color: #5b382b;
    font-size: 1.4rem;
  }
}
