nav {
  /* position: fixed; */
  padding: 2rem;
  font-size: 1rem;
  font-family: "Barlow", sans-serif;
  background: #e4daca;
  /* width: 100%; */
  height: 200px;
  h3 {
    letter-spacing: 2px;
    color: #a34a26db;

    font-weight: 800;
  }
  a {
    text-decoration: none;
    color: inherit;
  }

  a:hover {
    border-bottom: 5px solid #a34a26db;
  }
}

.--nav {
  ul {
    display: flex;
    list-style: none;
    /* float: right; */
    gap: 50px;
    color: #5b382b;
    font-size: 1.4rem;
  }
}

.product-page {
  background: #ffffff;

  font-family: "Barlow";
  margin-bottom: 10rem;
  .product-profile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: ". .";
  }

  .product-image {
    width: 100%;
  }

  .product-content {
    margin-top: 4rem;
    padding: 7rem;
  }

  .product-price {
  }

  .btn-outline-secondary {
    background: none;
    color: #452617;
    border: 1px solid #5b382b;
  }
  .cart {
    background: #5b382b;
    color: #dfdddc;
    border: 1px solid wheat;
    width: 200px;
    padding: 1rem;
  }
  h1 {
    font-size: 6rem;
    color: #4d2414;
    font-weight: 400;
  }

  h3,
  p {
    color: #45281d;
    font-size: 1.8rem;
    line-height: 1.2;
  }
}

.product-grid {
  background-color: #faf8f5;
  margin-bottom: 8rem;

  .flex-container {
    display: flex;
    justify-content: space-between;
    padding: 2.5rem;
    gap: 5px;
  }

  .img-grid {
    width: 85%;
    padding-top: 5rem;
  }

  .product-details {
    font-size: 0.8rem;
  }
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #e4daca;
  height: 300px;
  padding: 5rem;
  color: #4d2414af;

  ul {
    margin-top: 3rem;
    font-size: 1.5rem;
    display: flex;
    gap: 50px;
    list-style: none;
    color: #5b382b;
    padding: 0;
  }
}
