nav {
  position: fixed;
  padding: 1rem;
  font-size: 1rem;
  font-family: "Barlow", sans-serif;
  h3 {
    letter-spacing: 2px;
    color: #a34a26db;
    font-weight: 800;
  }

  a.nav-link {
    text-decoration: none;
    color: #cd6e4b;
    font-size: 1.5rem;
  }

  a.nav-link:hover {
    text-decoration: none;
    color: #201f1f;
    border-bottom: 5px solid #a34a26db;
    cursor: pointer;
  }
}

.circle {
  color: #4d241476;
  font-size: 2rem;
  background: #ffffff;
  padding: 1rem;
  border-radius: 50%;
}
.header-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: "Barlow", sans-serif;
}

.row2 {
  border-top: 200px solid #e4daca;

  h1 {
    font-size: 9rem;
    color: #4d2414;
    font-weight: 400;
  }

  .content-row-2 {
    line-height: 0.8;
    padding: 1.5rem;
    display: flex;
    margin-top: 40%;

    p {
      margin-top: 40%;
      font-size: 1rem;
      text-align: end;
      color: #5a5756;
    }
  }

  .barcode {
    font-family: "Libre Barcode 39 Extended", system-ui;
    font-size: 10rem;
    color: #4d2414;
    padding-left: 10px;
  }
}

.header-img {
  width: 100%;
  overflow: hidden;
}

.sec-two {
  background: #4d2414;
  font-family: "Barlow", sans-serif;
  color: #e4daca;
  font-size: 2rem;
  font-weight: 100;
  padding: 17rem;
  height: max-content;
  border-bottom: 90px solid #cd6e4b;

  p {
    text-align: left;
    line-height: 1.2;
  }
}

.sec-three {
  background: #e5e0da;
  padding: 4rem;

  .sec-container {
    background-color: white;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "column-1 sq-1 sq-2"
      "column-1 sq-3 sq-4";
  }

  .column-1 {
    grid-area: column-1;
    background: white;
  }
  .sq-1 {
    grid-area: sq-1;
  }
  .sq-2 {
    grid-area: sq-2;
    background: #faf3eb;
  }
  .sq-3 {
    grid-area: sq-3;
    background: #ebe7e1;
  }
  .sq-4 {
    grid-area: sq-4;
  }

  .collection-img {
    width: 100%;
  }

  .col-content {
    flex-direction: column;
    padding: 3rem 7rem;
    margin-top: 70%;
  }
  h3 {
    font-size: 6rem;
    color: #4d2414;
    font-weight: 400;
    text-transform: lowercase;
  }

  p {
    font-size: 1.5rem;
    line-height: 1.2;
    color: #4d2414;
  }
  .btn-primary {
    background: #4d2414;
    border: #4d2414;
    padding: 1rem;
  }

  .btn-primary:hover {
    background: #cd6e4b;
  }
}

/*  --------------footer ----------------------------- */

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #e4daca;
  height: 350px;
  padding: 5rem;
  color: #4d2414af;

  h2 {
    font-family: "Barlow";
    font-weight: 900;
    font-size: 1.5rem;
    letter-spacing: 3px;
  }

  ul {
    margin-top: 3rem;
    font-size: 1.5rem;
    display: flex;
    gap: 50px;
    list-style: none;
    color: #5b382b;
    padding: 0;
  }

  li:hover,
  .ft-btn:hover {
    color: #e87a43db;
  }

  .ft-btn {
    margin-top: 10px;
    background: #4d2414;
    border: #4d2414;
    padding: 10px;
    color: white;
  }
}

/* ------------------  media queries ---------------------- */
@media screen and (max-width: 993px) {
  .header-grid {
    display: flex;
    flex-direction: column-reverse;
    border-top: 160px solid #e4daca;

    h1 {
      font-size: 5rem;
      color: #4d2414;
      font-weight: 400;
    }
  }

  .row2 {
    & .content-row-2 {
      display: flex;
      flex-direction: column;
      text-align: center;

      p {
        margin-top: 10%;
        font-size: 1rem;
        text-align: center;
        color: #5a5756;
        padding: 0rem 4rem 3rem;
      }
    }
  }

  .sec-two {
    height: max-content;
    background: #4d2414;
    font-size: 1rem;
    font-weight: 100;
    padding: 20%;
    border-bottom: 90px solid #cd6e4b;

    p {
      text-align: left;
      justify-content: space-evenly;
      line-height: 1.2;
      font-weight: 200;
    }
  }

  .sec-three {
    background: #e5e0da;
    padding: 2rem;

    .sec-container {
      background-color: white;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 0px 0px;
      grid-template-areas:
        "column-1 column-1"
        " sq-1 sq-4 ";
    }

    .collection-img {
      width: 100%;
    }

    .column-1 {
      height: 70vh;
    }
    .col-content {
      flex-direction: column;
      padding: 1rem 2rem;
      margin-top: 10%;
    }
    h3 {
      font-size: 3rem;
      color: #4d2414;
      font-weight: 400;
      text-transform: lowercase;
    }

    p {
      font-size: 1.2rem;
      line-height: 1.2;
      color: #4d2414;
    }
  }

  footer {
    display: grid;
    grid-template-columns: 1fr;
    background: #e4daca;
    height: max-content;
    padding: 5rem;
    color: #4d2414af;
  }
}
